.topnav {
  overflow: hidden;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 1px;
  margin-bottom: 0px;
}

.topnav a:hover {
  text-decoration: underline;
}

.topnav p {
  display: inline;
}

#usuario {
  text-align: center;
  width: min-content;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
}
#fotousuario {
  width: 38pt;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
